body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

#roomsContainer {
    display: none;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #007BFF;
    border-radius: 8px;
    background-color: #e9ecef;
}

.room {
    margin: 5px;
    padding: 10px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    background-color: #fff;
    display: inline-block;
    width: 100px;
}
